/*This is my css flie
blah blah blah */


  

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

  
body{
    background-color: rgba(165, 42, 42, 0.671);
}
    


header h5{
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-size: 20px;
    background-color: rgba(11, 178, 184, 0.651)
}

header h4{
    font-size: 30px;
 }
 

  p{
    color: rgba(255, 140, 0, 0.548);
    font-size: 1.25em;
    font-family: 'Playfair Display', serif;
   }

   
ul{
    list-style-type: square;
   }

a:link{
    color: rgba(135, 235, 205, 0.281);
}

a:visited{
    color: rgba(27, 107, 42, 0.103);
}
h4{
    text-decoration:underline;
}

a:hover{
background-color: rgba(0, 119, 255, 0.445);
}